/* your styles go here *//* your styles go here */




:root{
	--red: #F05454;
	--white:#ede9e4;
	--gray: #807f7d;
	--black:#2e2d2d;
}

.box-masonry{
	border-radius: 5px;
	background-color:black;
}

body{
	background-color: #323232;
	min-height: 100vh;
	display:flex;
	flex-direction:column;
}

#all{
	height: 97%;
}		

footer{
	margin-top:0%;
	background-color:transparent;
	width:20%;
}

footer .credit{
	text-align:left;
}

.sidebar-content{
	width: 500px;
	padding-left: 17px;
}

.sidebar-heading a{
	color: #F4EEE0;
	text-decoration: none;
	font-size: 23px;
}

.sidebar-p{
	font-size: 16px;
	margin-top:25px;
}

.content-column{
	padding:55px;
	vertical-align:top;
}

.work-experience-title{
	color: #F4EEE0;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom:22px;
}

.work-title-section{
	margin-left: 10px;
}

.work-title-section p {
  color: #999999;
  font-size: 16px;
}

.sidebar-heading:hover a{
	color: var(--red);
	text-decoration: none; 
	border-bottom: none;
}

.sidebar-menu li a {
	color: var(--white);
	font-size: 18px;
}

.sidebar-menu li.active a {
  color: var(--red);
  font-weight: bold;
}

.sidebar-menu li.active:before {
  color: var(--red);
}

.sidebar-menu li:hover a {
  text-decoration: none;
  color: var(--red);
}

.sidebar-menu li:hover:before {
  color: var(--red);
}

.sidebar-menu{
	margin-bottom:0;
}


#sidebar{
	background-color: #323232;
	float:left;
	width:20%;
	min-width:230px;
	height:100%;
	
}
.sidebar-content{
	width: 100%;
}

p.social a:hover {
  color: var(--red);
  border-color: var(--red);
}

.copyright{
	text-align:left;
}


.box-masonry {
	box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.box-masonry:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
}

.masonry-item{
	padding: 1.5%;
	padding-bottom: 10%;
	margin-right: 100px;
}

.box-masonry-text {
  background-color: #ede9e4;
  height: 130px;
}

.work-title{
	float:left;
	color: var(--black);
}

.work-title:link, .work-title:visited, work-title:hover, work-title:active{
	text-decoration:none;
}

a:hover, h4:hover, .box-masonry-text:hover, a:focus, h4:focus, .masonry-text:focus{
	text-decoration:none;
	border-bottom-color:black;
}

.period{
	float :right;
	color: #999999;
	font-size: 15px;
	letter-spacing: 0.01em;
	text-transform: none;
	font-weight:normal;
}

.role{
	float:left;
	text-align:left;
	margin-bottom: 0px;
	font-size: 18px;
	color: #999999;
	font-weight:normal;
}

.box-masonry{
	margin-bottom:0px;
}
.box-masonry .box-masonry-image.with-hover-icon::after {
	content: '❯ MORE';
	position:absolute;
	top:96%;
	left: 34%;
	font-size: 20px;
	font-weight:bolder;
	font-family: 'Roboto';
	transition: all 0.2s ease-out;
}

/*.box-masonry .box-masonry-image.with-hover-icon.projects::after {
	content: '❯ MORE';
	position:absolute;
	top:100%;
	left: 36%;
	font-size: 20px;
	font-weight:bolder;
	font-family: 'Roboto';
	transition: all 0.2s ease-out;
}*/

.box-masonry .box-masonry-image.with-hover-overlay::before {
	background-color:transparent;
	position:absolute;
	top:96%;
	left: 0%;
}

blockquote{
	border-left-color: var(--red);
}

ul{
	color: var(--red);
}

.work-header{
	display:block;
	margin-left: 0;
	box-shadow: 0px 0px 4px 1px;
}

.work-page-title{
	margin-bottom: 10px;
}

.content-column.white-background{
	background-color:var(--white);
}
.row p, .row li{
	color: #807f7d;
	font-size:18px;
}
.content-column-content ul li::before{
	color:var(--red);
	font-weight:bolder;
}

.platform-logo {
    /*filter: invert(100%);*/
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    vertical-align: center;
    border: solid 3px #999999;
    color:  #999999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	margin-right: 16px;
}

.bi{
	padding:12px 16px 16px 12px;
}

.bi-playstation{
	padding:10px 14px 16px 10px;
}

.bi-windows{
	padding:14px 20px 18px 14px;
}

.bi-apple{
	padding:8px 16px 16px 12px;
}

.platform-logo:hover{
	color: var(--red);
	border-color: var(--red);
}

.platforms{
	margin-top: 20px;
	margin-bottom:10px;
}

.video{
	margin-top: 30px;
	width:100%;
}

#profile-picture-container{
	position:relative;
	width: 50%;
	min-width:150px;
}

#profile-picture{
	border-radius: 50%;
	min-width: 150px;
	margin:0 0 10px 0;
	background-color: #903232;
	
}

.timeline{
	position:fixed;
	border-color: var(--red);
	border-width: 0 0 0 6px;
	border-radius:2px;
	border-style:solid;
	right:0;
	height: 500px;
	width: 450px;
	margin: 120px 0px 0px 20px;
	padding:0;
}

.timeline-arrow{
	content: '\f04b';
	font-family: 'FontAwesome';
	font-size: 70px;
	color: var(--red);
	font-style: normal;
	left:-50px;
	position: absolute;
}

.timeline-element-content{
	margin: 0px 0px 100px 10px;
}

.timeline-title{
	
}

.timeline-element:hover h4, .timeline-element:hover span{
	color:var(--red);
}
.active-timeline-element h4, .active-timeline-element span{
	color:var(--red);
}

.timeline-role{
	font-weight:bold;
	color: var(--gray);
}

.timeline-period{
	color: var(--gray);
}

.sidebar-menu li::before{
  font-family: 'FontAwesome';
  color: var(--white);
}

.sidebar-menu li:hover::before{
  color: var(--red);
}	

.sidebar-menu li:nth-child(1)::before{
  content: '\f0b1';
  margin-right:10px;
}

.sidebar-menu li:nth-child(2)::before{
  content: '\f121';
  margin-right:10px;
}

.sidebar-menu li:nth-child(3)::before{
  content: '\f19d';
}

.content-column-content ul li ul li::before {
  font-family: 'FontAwesome';
  content: '•';
  margin: 0 5px 0 -15px;
  color: var(--red);
}

a{
	color:var(--red);
}

p:has(+ul) {
	margin-bottom:10px;
}


/*#curriculum{
	background-color:transparent;
	width:40px;
	height:40px;
    border-radius: 50%;
    vertical-align: bottom;
    border: solid 1px #999999;
    color:  #999999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	
}*/

/*#curriculum:hover{
	border-color: var(--red);
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}*/

/*.bi-file-earmark-text{
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}*/

/*.bi-file-earmark-text:hover{
	color:var(--red);
	border-color:var(--red);
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}*/

.curriculum-icon{
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	fill: #999999;
}

.curriculum-icon:hover{
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	fill: var(--red);
}

p.social a{
	width: 64px;
	height:64px;
	font-size: 35px;
	padding-top:10px;
	border-radius: 50px;
	border:	2px solid;
}


.education-location{
	color: var(--gray);
}

.education-item::before{
	font-family: 'FontAwesome';
	display:inline-block;
	content: '›';
	font-size:50px;
	margin: 5px 5px 0px -20px;
	color: var(--red);
}

.education-period{
	color: var(--gray);
	font-weight: normal;
	font-size: 18px;
	padding-left: 25px;
}

.education-description{
	padding-left: 20px;
}

.education-grade{
	margin-bottom: 5px;
}

#academic-awards{
	margin-top: 50px;
	margin-bottom:0px;
}

a#tfm{
	color:var(--gray);
	font-size: 18px;
}

a#tfm:hover{
	color:var(--red);
}

#tfm::before{
	font-family:'FontAwesome';
	content:'\f0c1';
	color: var(--red);
	padding-right:5px;
}

#tfm:hover{
	color: var(--red);
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.masonry-item.projects{
	margin-right: 0px;
	height: 725px;
	float:center;
}

.box-masonry.projects{
	margin-bottom:50px;
}

.box-masonry-image.projects{
	height: 675px;
	background-color: var(--white);
}

.box-masonry.projects p {
	font-size: 17px;
}


.github-logo{
	color: var(--gray);
	margin-bottom: 20px;
}

.github-logo:hover{
	color:var(--red);
}

.bi-controller{
	color: var(--gray);
	margin-bottom: 20px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.bi-controller:hover{
	color:var(--red);
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.game-logo{
	display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    vertical-align: center;
    border: solid 3px #999999;
    color:  #999999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	margin-right: 16px;
}

.game-logo:hover{
	border-color:var(--red);
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.work-box-shadow{
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.7);
}

iframe{
	margin-bottom:20px;
	margin-top:0px;
}

.nav-container{
	width: 100%;
}

.previous-container{
	display:block;
	width: 50%;
	float: left;
	left:0;
}

.next-container{
	display:block;
	width:50%;
	float:right;
	right:0;
}

.previous, .next{
	font-size: 1em;
	margin-bottom:100px;
	font-family: sans-serif;
	font-weight: bold;
	color: var(--gray);
	margin-top: 20px;
	border: 3px solid var(--gray);
	border-radius: 20px;
	border-color: var(--gray);
	padding: 5px 15px 5px 15px;
	width:100%;
	min-width:120px;
	text-align:center;
}

.previous{
	float:left;
	width:20%;
}

.next{
	float:right;
	width:15%;
}

.previous:hover, .next:hover{
	background-color: var(--red);
	color: var(--white);
	border-color: var(--red);
}


.small-navbar-heading a{
	color:var(--white);
	font-size: 15px;
	float:right;
}

.btn-ghost{
	color:var(--red);
	border-color: var(--red);	
	border-radius: 15px;
	border: 3px solid var(--red);
}

.btn-ghost:hover{
	background-color:var(--red);
	border-color: var(--red);	
}

.btn-ghost:focus{
	background-color:var(--red);
	border-color: var(--red);	
}	

.graph-container{
	width:100%;
	display:inline-block;
}

.graph{
	display:block;
	max-width: 700px;
	width:100%;
	float:left;
}

.filler-div{
	background-color:var(--white);
	position: fixed;
	right: 0;
	width: 5%;
	height:100vh;
}

#pupil-mask{
	mask-image: url(../img/PupilMask.png);
	mask-mode:luminance;
	mask-size: 100% 100%;
	mask-repeat: no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	min-width:150px;
}

#right-pupil-container{
	position:absolute;
	width : 15%;
	height: 15%;
	left:53%;
	top:61%;
}


#right-pupil{
	position: absolute;
	border: solid 1px black;
	width: 70%; 
	height: 70%; 
	border-radius: 100%;  
	background-color:black;
	color:black;  
	margin:0;
	padding:0;
}

#left-pupil-container{
	position:absolute;
	width : 15%;
	height: 15%;
	left:32%;
	top:61%;
}


#left-pupil{
	position: absolute;
	border: solid 1px black;
	width: 70%; 
	height: 70%; 
	border-radius: 100%;  
	background-color:black;
	color:black;  
	margin:0;
	padding:0;
}


