{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
        <h1 class="work-page-title">{{ .Title }}</h1>
        {{ .Content | safeHTML }}
        {{ template "_internal/disqus.html" . }}
		  
		{{ if eq .Params.DisplayNextAndPrevious true }}
			<div class="nav-container">
				{{ $pages := where .Site.RegularPages.ByWeight "Section" .Section }}

				{{ with $pages.Prev . }}
				<div class = "previous-container">
				  <a href="{{ .RelPermalink }}" class="previous" id = {{ .Params.Title }}>PREVIOUS</a>
				</div>
				{{ end }}

				{{ with $pages.Next .  }}
				<div class ="next-container">
					<a href="{{ .RelPermalink }}" class="next" id = {{ .Params.Title }}>NEXT</a>
				</div>
				{{end}}
				

			</div>
		{{ end }}
      </div>
    </div>
	{{ if eq .Params.DisplayTimeline true }}
		<div class="timeline">
			<i class="fa-solid fa-caret-right timeline-arrow"></i>
			<div>
			{{ range .Site.Pages }}
				{{ if eq .Params.DisplayInTimeline true }}
				<a class="timeline-element" href="{{.Permalink}}">
					<div class="timeline-element-content">
						<h4 class ="timeline-title">{{.Params.Title }}</h4>
						<span class = "timeline-role">{{.Params.Role }} </span> </br>
						<span class = "timeline-period">{{.Params.Period }} </span>
					</div>
				</a>
				{{end}}
			{{end}}
			</div>
		</div>
	{{end}}
  </div>
</div>
<div class="filler-div"></div>
{{ end }}